# jwt
JWT_SECRET=

# plaid
PLAID_CLIENT_ID=
PLAID_SECRET=
## Use 'sandbox' to test with fake credentials in Plaid's Sandbox environment
## Use 'development' to test with real credentials while developing
## Use 'production' to go live with real users
PLAID_ENV=sandbox
PLAID_PRODUCTS=transactions
PLAID_COUNTRY_CODES=US,CA

# postgresql environment
POSTGRES_PASSWORD=
