#ledger {
    margin: auto 21%;
}

#create-account {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

h1 {
    color: var(--caribbean-green)
}

label {
    width: 150px;
    display: block;
}

label {
    color: var(--rose);
    display: block;
    font-weight: bold;
    text-align: left;
}

input {
    display: block;
    float: none;
}

button {
    background-color: var(--caribbean-green);
    border: 0;
    color: var(--white);
    padding: 1rem 2rem;
    margin-top: 10px;
    width: 100%;
}

button:hover {
    border-left: 1px;
    background-color: var(--orange-yellow-crayola);
}
